* {
margin: 0;
padding: 0;
}

body {
color: #990000;
font: 0.7em Georgia, "Times New Roman", Times, serif;
background: #fff;
text-align: center;
}

h1 {
text-align: left;
color: #000;
font-size: 3.8em;
display: block;
height: 60px;
width: 770px;
margin-left: 10px;
}

h2 {
text-align: left;
color: #990000;
font-size: 2.3em;
display: block;
height: 30px;
width: 770px;
margin-left: 50px;
}

#hp1 {
background-image: url(../images/colors_of_nippon_border.png);
background-repeat: no-repeat;
background-position: top left;
height: 100px;
padding: 0px;
margin-top: 5px;
}

div#main {
width: 770px;
left: 50%;
right: 50%;
margin-left: -385px;
position: absolute;
}

div#content {
float: left;
width: 770px;
padding-bottom: 10px;
padding-top: 10px;
}

div#content div {
float: left;
}

div.picture {
float: left;
margin: 3px;
text-align: center;
padding: 5px;
width: 172px;
height: 132px;
vertical-align: middle;
background: #fff;
border: 1px solid #990000;
}

.imagelink img{
padding-top: 7px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
-moz-opacity: 0.8;
opacity:0.8;
}

.imagelink:HOVER img {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity:1;
}

div.picture:hover {
background: #990000;
border: 1px solid #000;
}

img {
border: 0px;
padding: 3px;
}

div#footer {
clear: left;
color: #fff;
background: #990000;
display: block;
height: auto;
padding: 1em 0;
text-align: center;
top: 0;
width: 770px;
}

a {
color: #fff;
}
