* {
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	font: 0.7em verdana, arial, helvetica, sans-serif;
	background: #fff;
	text-align: center;
}

#hp1 {
	text-align: center;
	height: 80px;
	padding: 15px;
	margin-top: 5px;
	width: 870px;
	background-color: #000;
}

h1 {
	font-size: 3.2em;
	height: 50px;
	color: #fff;
}

h2 {
	font-size: 2.2em;
	height: 30px;
	color: #fff;
}

#out {
	text-align: left;
	width: 870px;
	margin: auto;
}

#left {
	float: left;
	width: 174px;
}

#right {
	margin-left: 200px;
	width: 665px;
}

div#main {
	margin: auto;
	text-align: left;
	width: 870px;
}

div.picture {
	float: left;
	margin: 15px 5px 15px 0;
	text-align: center;
	height: 119px;
	height /**/: /**/ 125px;
	width: 165px;
	background: #000;
	border: 1px solid #979797;
}

div#preview {
	margin-top: 70px;
	text-align: center;
	height: 496px;
	height /**/: /**/ 502px;
	width: 665px;
	background: #000;
	border: 1px solid #979797;
}

img {
	border: 0px;
	padding: 3px;
}

.imagelink img {
	filter: progid : DXImageTransform . Microsoft . Alpha(opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.imagelink:HOVER img {
	filter: progid : DXImageTransform . Microsoft . Alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

div#footer {
	clear: left;
	color: #fff;
	background: #000;
	padding: 9px;
	text-align: center;
	width: 870px;
}

div#footer a {
	color: #fff;
}

a {
	color: #000;
}