* {
margin: 0;
padding: 0;
}

body {
color: #000;
font: 0.7em verdana, arial, helvetica, sans-serif;
background: #fff;
text-align: center;
}

h1 {
margin-top: 5px;
text-align: center;
font-size: 3.2em;
padding-top: 10px;
padding-bottom: 15px;
width: 770px;
color: #fff;
background-color: #000;
}

div#main {
margin: auto;
overflow: hidden;
text-align: left;
width: 770px;
}

div#nav {
float: left;
height: 462px;
width: 150px;
}

div#nav ul {
border-bottom: 1px solid #000;
margin-top: 30px;
}

div#nav li {
color: #000;
text-align: left;
}

div#nav li {
border-top: 1px solid;
font-size: 1.2em;
height: 27px;
width: 150px;
}

div#nav li a {
display: block;
font-weight: normal;
height: 100%;
padding-top: 3px;
padding-left: 8px;
text-decoration: none;
}

div#nav li a:focus, div#nav li a:hover, div#nav li a:active { 
font-weight: bold;
}

div#content {
float: left;
padding: 10px 0 15px 55px;
width: 620px;
width/**/:/**/ 565px;
height: 500px;
margin-top: 15px;
}

div#content div.picture {
float: left;
margin-right: 10px;
margin-bottom: 10px;
text-align: center;
height: 134px;
width: 173px; 
background: #000;
/*border: 1px solid #979797;*/
}

.imagelink img{
padding-top: 7px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.7;
opacity:0.7;
}

.imagelink:HOVER img {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity:1;
}

div#preview {
margin-top: 50px;
text-align: center;
height: 350px;
width: 465px; 
background: #000;
}

div#preview img {
padding-top: 7px;
}

img {
border: 0px;
}

div#footer {
clear: left;
color: #fff;
background: #000;
padding-top: 8px;
padding-bottom: 8px;
text-align: center;
width: 770px;
}

div#footer a{
color: #fff;
}

a {
color: #000;
}
